services:
    hooky_db_container:
        image: postgres:16.2
        container_name: hooky_db_container
        restart: unless-stopped
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: root
            POSTGRES_DB: hooky_db
        ports:
            - "5450:5432"
        volumes:
            - hooky_db_container:/var/lib/postgresql/data
    hooky_redis_container:
        image: redis:7.0.12
        container_name: hooky_redis_container
        restart: unless-stopped
        ports:
            - "6379:6379"
        volumes:
            - hooky_redis_container:/data
volumes:
    hooky_db_container: {}
    hooky_redis_container: {}
