networks:
    hooky:
        driver: bridge

volumes:
    hooky_db:
        driver: local
    chat_db:
        driver: local
    hooky_db_pg:
        driver: local

services:
    hooky_db:
        image: mysql:8.0
        container_name: hooky_db
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: hooky_db
            MYSQL_PASSWORD: root
        ports:
            - "3320:3306"
        volumes:
            - hooky_db:/var/lib/mysql
        networks:
            - hooky
    chat_db:
        image: mysql:8.0
        container_name: chat_db
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: chat_db
            MYSQL_PASSWORD: root
        ports:
            - "3330:3306"
        volumes:
            - chat_db:/var/lib/mysql
        networks:
            - hooky
    hooky_db_pg:
        image: postgres:13
        container_name: hooky_db_pg
        restart: unless-stopped
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: root
            POSTGRES_DB: hooky_db_pg
        ports:
            - "5450:5432"
        volumes:
            - hooky_db_pg:/var/lib/postgresql/data
        networks:
            - hooky
