services:
    hooky_db_container:
        image: postgres:16.2
        container_name: hooky_db_container
        restart: unless-stopped
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: root
            POSTGRES_DB: hooky_db
        ports:
            - "5450:5432"
        volumes:
            - hooky_db_container:/var/lib/postgresql/data

volumes:
    hooky_db_container: {}
